
.VidElem{
    position: relative;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
}

.butts{
    display: flex;
    justify-content: space-around;
    margin: 2%;
    user-select: none;
}

.butts .butt{
    border: solid 2px green;
    border-radius: 15px;
    padding: 10px 25px;
    transition: all 250ms;
}

.butt:hover{
    background-color: green;
}

.butts a{
    color: black;
    text-decoration: none;
}