.form{
    height: 50vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form .butt{
    width: 30%;
    user-select: none;
    border: solid 2px green;
    border-radius: 15px;
    padding: 10px 25px;
    transition: all 250ms;
}